# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

ARCHITECTURE.md
.python-version
database.sql